#container {  
  width: 75%;  
  margin: 0 auto;  
  background-color: #FFF;  
  padding: 20px 40px;  
  border: solid 1px black;  
  margin-top: 20px;  
}  
body {  
  background-color: #4B7399;  
  font-family: Verdana, Helvetica, Arial;  
  font-size: 14px;  
}  
.clear {  
  clear: both;  
  height: 0;  
  overflow: hidden;  
}

#sidebar {  
    width: 30%;  
    float: left;  
}  
#main {  
    width: 70%;  
    float: left;  
}  
a, a:visited {  
    color: #00f;  
    text-decoration: none;  
}  
a:hover {  
    text-decoration: underline;  
}  
td {  
    padding: 5px;  
}